{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block content %}
    {% if form %}
    <form  class="col-md-3" action="{% url 'myrelevate:articles:create' %}" method="post">
    {% csrf_token %}
    {{ form.title }}
    {{ form.content }}
    <br>
    {{ form.isPublished.label }}{{ form.isPublished }}
    <input class='form-control' type="submit" value="Post"/>
    </form>
    {% elif articles %}
        {% for a in articles %}
            <p>{{ a.title }}</p>
            <p>{{ a.content }}</p>
            <hr>
        {% endfor %}
    {% endif %}

{% endblock %}