{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.almost-flat.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.gradient.min.css' %}"/>

    <script src="{% static 'uikit/js/components/accordion.min.js' %}"></script>
{% endblock %}

{% block content %}
    {% if form %}
        <form class="uk-form" action="{% url 'myrelevate:articles:create' %}" method="post">
            {% csrf_token %}
            {{ form.title }}
            <br><br>
            <ul id="id_article_topics" class="uk-list uk-column-1-3" >
                {% for topic in topics %}
                    <li>
                        <label>
                            <input id="id_article_topics_{{ topic.id }}"
                                   {% for article_topic in form.article_topics.all %}
                                       {% if article_topic.id == topic.id %} checked="checked" {% endif %}
                                   {% endfor %}
                                   name="article_topics" type="checkbox" value="{{ topic.id }}">
                            {{ topic.name }}
                        </label>
                        <div class="uk-accordion" data-uk-accordion="{showfirst:false}">
                            <button type="button" class="uk-accordion-title">
                                <i class="uk-icon-question"></i>
                            </button>
                            <div class="uk-panel-box-primary uk-accordion-content">
                                {{ topic.description }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <br><br>
            {{ form.content }}
             <br>
            {{ form.isPublished.label }}{{ form.isPublished }}
            <input class='uk-button' type="submit" value="Post"/>
        </form>
    {% elif articles %}
        {% for a in articles %}
            <h2>{{ a.title }}</h2>
            <h4>Article Topics</h4>
            <ul class="uk-list uk-column-1-4">
                {% for topic in a.article_topics.all %}
                    <li>{{ topic.name }}</li>
                {% endfor %}
            </ul>
            <p class="uk-panel-box-primary">{{ a.content|safe }}</p>
            <hr>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block footer %}
    {{ block.super }}
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('id_content');
    </script>
{% endblock %}