{% extends "cloud_template.html" %}
{% load staticfiles %}

{% block body %}
    {{ block.super }}
    <div id="main">
        <div id="confirm-text" class="container">
            <div class="row"> It looks like the your email hasn't been confirmed.
                If
                <div class="relevate-blue">{{ user.email }}</div>
                is the correct email please confirm using the button below.
            </div>
            <div class="row">
                <a href="{% url 'myrelevate:auth:confirm' %}" class="uk-button">Confirm</a>
            </div>
        </div>
    </div>
{% endblock %}