{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block content %}
    <div class="uk-container-center uk-text-center" id="login">
        <div class="uk-display-inline-block uk-padding-large" style="border: 1px solid #2BA2D9; border-radius: 6px">
            <form action="{% url 'myrelevate:auth:login' %}"
                  class="uk-form uk-margin-top uk-margin-bottom uk-margin-left uk-margin-right" method="post">
                {% csrf_token %}
                <div class="uk-text-center createAccount">
                    {{ form.email }}
                    {{ form.password }}
                    <br><br>
                    <input class="uk-button" type="submit" value="Sign In"/>
                </div>
            </form>
                </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}