{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block content %}
    <form action="{% url 'myrelevate:auth:register_user' %}" method="post" class="uk-form">
        {% csrf_token %}
        <div class="createAccount ">
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <br><br>
            {{ form.first_name }}
            {{ form.last_name }}
            <br><br>
            <input class='uk-button' type="submit" value="Sign Up"/>
        </div>
    </form>
{% endblock %}