container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_accept:
    command: "yes"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "SeniorProject.settings"
    PYTHONPATH: "/opt/python/current/app/WebApplication:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "SeniorProject/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "MyRelevate/static/"
