{% extends "base-titlebar.html" %}

{% block content %}
    <h1 class="name">
        Edit user profile
    </h1>
    <div class="">
        <form action="{% url 'myrelevate:user:profile' %}" method="post" class="uk-form" novalidate>
            {% csrf_token %}
            {{ userdata.email }}
            {{ userdata.first_name }}
            {{ userdata.last_name }}
            <br>
            {{ userdata.new_password1 }}
            {{ userdata.new_password2 }}
            <br>
            {{ userdata.curr_password }}
            <br>
            <input type="submit" class="uk-button" value="Update"/>
        </form>
    </div>
{% endblock %}