{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uk-container">
        <h1>Advisers</h1>
        <span>
            Identifying and communicating the main points of research articles in a way that is accurate and focused
            takes an understanding of research methods and academic scholarship. In order to promote these skills,
            undergraduate and masters students who apply to be MyRelevate contributors are required to have an advisor.
            MyRelevate advisors are contributors with graduate degrees who value mentoring others (i.e., undergraduate
            and masters students) in becoming educated consumers and communicators of relationship research.
            Check out our impressive advisors below!
        </span>
    </div>
{% endblock %}