{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uk-container">
        <h1>Adviser Application</h1>
        <br>
        <span>
            MyRelevate advisors provide guidance and feedback to contributors who have not yet attained a graduate
            degree on the quality of the content they create for MyRelevate. Advisors are responsible for ensuring the
            research-based relationship content posted by their advisees is accurate, timely, professional, and
            appropriately referenced. Advisors must approve the content their advisees create before it can be posted.
            MyRelevate advisors may specify how many, whom, and for how long they advise.
        </span>
        <h3>Terms and Conditions</h3>
        <div class="uk-scrollable-box">
            <span>
                These are the terms and conditions for being an adviser
            </span>
        </div>
        <form class="uk-form" method="post" action="{% url 'myrelevate:advisers:create' %}">
            {% csrf_token %}
            Accept terms: {{ adviser_form.accept_terms }}
            <input class="uk-button" type="submit" value="Apply">
        </form>
    </div>
{% endblock %}