{% extends "base-titlebar.html" %}
{% load staticfiles %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.almost-flat.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.gradient.min.css' %}"/>
{#    <script src="{% static 'uikit/js/core/toggle.min.js' %}"></script>#}
{% endblock %}

{% block content %}
    <div class="uk-container">
        <h1>Advisers Needing Approval</h1>
        <br>
        <div class="uk-accordion" data-uk-accordion>
            <form class="uk-form" method="post" action="{% url 'myrelevate:advisers:approve' %}">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for user, approve_form in users_forms %}
                    <h3 class="uk-accordion-title">{{ user.first_name }} {{ user.last_name }} {{ user.email }}</h3>
                    <div class="uk-accordion-content">
                         <ul class="uk-tab" data-uk-tab data-uk-switcher="{connect:'#profileContent'}">
                             <li class="uk-active"><a>Credentials/Contact Information</a></li>
                             <li><a href="">Area Of Expertise</a></li>
                             <li><a href="">Biography</a></li>
                             <li><a href="">Research Area/Clinical Interest</a></li>
                             <li><a href="">CV/Resume</a></li>
                         </ul>

                        <ul id="profileContent" class="uk-switcher">
                            <li>
                                <br>{{ user.contributor_profile.degree.name }}
                                <br>{{ user.contributor_profile.program }}
                                <br>{{ user.email }}
                                <br>{{ user.contributor_profile.address }}
                                <br>{{ user.contributor_profile.city }}, {{ user.contributor_profile.state }} {{ user.contributor_profile.zipcode }}
                            </li>
                            <li>
                                {% for expertise_topic in user.contributor_profile.expertise_topics.all %}
                                    <button class="uk-button" type="button"
                                            data-uk-toggle="{target:'#topicDiscription'}">{{ expertise_topic.name }}</button>
                                    <div id="#topicDiscription" class="uk-panel-box-primary">
                                        {{ expertise_topic.description }}
                                    </div>
                                {% endfor %}
                            </li>
                            <li>
                                <br>
                                <span>
                                    {{ user.contributor_profile.biography|safe }}
                                </span>
                            </li>
                            <li>
                                <br>
                                <span>
                                    {{ user.contributor_profile.interests|safe }}
                                </span>
                            </li>
                            <li>
                                <br>
                                <object data="{{ user.contributor_profile.cv.url }}" type="application/pdf"
                                        width="1100" height="1000">
                                </object>
                            </li>
                        </ul>
                        <br><br>
                        {{ approve_form }}
                        <br><br>
                        <input class="uk-button" type="submit" value="Approve">
                        <br>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}