{% extends "base-titlebar.html" %}
{% load staticfiles %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.almost-flat.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.gradient.min.css' %}"/>
    <script src="{% static 'uikit/js/core/toggle.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="uk-container">
        <h1>Advisers Needing Approval</h1>
        <br>
        <div class="uk-accordion" data-uk-accordion>
            <form class="uk-form" method="post" action="{% url 'myrelevate:advisers:approve' %}">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for user, approve_form in users_forms %}
                    <h3 class="uk-accordion-title">{{ user.first_name }} {{ user.last_name }} {{ user.email }}</h3>
                    <div class="uk-accordion-content">
                        {% for profile in profiles %}
                            {% if user.contributor_profile.id == profile.id %}
                                 <ul class="uk-tab" data-uk-tab data-uk-switcher="{connect:'#profileContent'}">
                                     <li class="uk-active"><a>Credentials/Contact Information</a></li>
                                     <li><a href="">Area Of Expertise</a></li>
                                     <li><a href="">Biography</a></li>
                                     <li><a href="">Research Area/Clinical Interest</a></li>
                                     <li><a href="">CV/Resume</a></li>
                                 </ul>

                                <ul id="profileContent" class="uk-switcher">
                                    <li>
                                    <br>
                                        {% if  profile.degree  == 'MS' %}
                                            Master of Science
                                        {% elif profile.degree  == 'MA' %}
                                            Master of Arts
                                        {% elif profile.degree  == 'PhD' %}
                                            Doctor of Philosophy
                                        {% elif profile.degree  == 'PsyD' %}
                                            Doctor of Psychology
                                        {% elif profile.degree  == 'PsyD' %}
                                            Doctor of Psychology
                                        {% elif profile.degree  == 'SU' %}
                                            Undergraduate Student
                                        {% elif profile.degree == 'SM' %}
                                            Master Student
                                        {% elif profile.degree == 'SPhD' %}
                                            Doctor of Philosophy Student
                                        {% elif profile.degree == 'SPsyD' %}
                                            Doctor of Psychology Student
                                        {% endif %}
                                        <br>{{ profile.program }}
                                        <br>{{ user.email }}
                                        <br>{{ profile.address }}
                                        <br>{{ profile.city }}, {{ profile.state }} {{ profile.zipcode }}
                                    </li>
                                    <li>
                                        {% for topic in topics %}
                                            {% for expertise_topic in profile.expertise_topics.all %}
                                                {% if expertise_topic.id == topic.id %}
                                                    <button class="uk-button" type="button"
                                                            data-uk-toggle="{target:'#topicDiscription'}">{{ topic.topicName }}</button>
                                                    <div id="#topicDiscription" class="uk-panel-box-primary">
                                                        {{ topic.topicDescription }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}

                                    </li>
                                    <li>
                                        <br>
                                        <span>
                                            {{ profile.biography|safe }}
                                        </span>
                                    </li>
                                    <li>
                                        <br>
                                        <span>
                                            {{ profile.interests|safe }}
                                        </span>
                                    </li>
                                    <li>
                                        <br>
                                        <object data="{{ profile.cv.url }}" type="application/pdf"
                                                width="1100" height="1000">
                                        </object>
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                        <br><br>
                        {{ approve_form }}
                        <br><br>
                        <input class="uk-button" type="submit" value="Approve">
                        <br>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}