{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>

{% endblock %}

{% block content %}
    <div id="contributorApplication">
        <div class="container">
            <form action="{% url 'myrelevate:contributor:create' %}" method="post" enctype='multipart/form-data'
                  class="uk-form" novalidate>
                {% csrf_token %}
                <div class="text-center">
                    <h1>Contributor Application</h1>
                </div>
                <h4>{{ user.first_name }} {{ user.last_name }}<br>{{ user.email }}</h4>

                <h3><label for="id_degree">Degree Completed<br></label></h3>
                <select id="id_degree" name="degree">
                    <option>Choose Your Degree</option>
                    {% for degree in degrees %}
                        <option {% if contributor.degree_id == degree.id %} selected="selected" {% endif %}
                                value="{{ degree.id }}">
                            {{ degree.name }}
                        </option>
                    {% endfor %}
                </select>
                <br><br><br>

{#                {{ contributorForm.adviser }}#}
                <h3><label for="id_adviser">Adviser<br></label></h3>
                <span>
                    In this section you need to pick an adviser if you degree is Student-Undergraduate
                    or Student-Masters. <br>For all other majors select Non Applicable in the adviser drop down.
                </span>
                <br><br>
{#                {{ contributorForm.adviser }}#}
                <select id="id_adviser" name="adviser">
                    <option>Choose Your Adviser</option>
                    <option value selected>Non Applicable</option>
                    {% for adviser in advisers %}
                        {% for user in users %}
                            {% if adviser.id == user.adviser_profile_id %}
                                <option {% if contributor.adviser_id == adviser.id %} selected="selected" {% endif %}
                                        value="{{ adviser.id }}">
                                    {{ user.first_name }} {{ user.last_name }}, {{ user.email }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
                <br><br>
                <h3>Academic information</h3>
                {{ contributorForm.program }}
                {{ contributorForm.institution }}
                <br><br>
                <h3>Personal Information</h3>
                {{ contributorForm.address }}
                {{ contributorForm.city }}
                {{ contributorForm.state }}
                {{ contributorForm.zipcode }}
                {{ contributorForm.website_url }}

                <h3>Upload your cv/resume </h3> {{ contributorForm.cv }}
                <br><br>
                <h3>Biography</h3>
                    <span>
                        In this section, tell us about yourself. What are your special interests (research topics
                        and/or clinical populations)? Also, tell why you want to contribute to Relevate. Include
                        anything else you think should be known about you. If, approved, this biography will go on
                        your contributor profile page, so write it as though you are speaking directly to the users of
                        Relevate who are exploring your profile (i.e., avoid jargon and acronyms, use third grade language).
                    </span>
                <br><br>
                {{ contributorForm.biography }}

                <br><br>
                <h3>Terms and Conditions</h3>
                <div class="uk-scrollable-box">
                    <span>
                        Any information on any topic given by Relevate, its members, its contributors,
                        and/or its community members should not be considered to be advice, diagnosis,
                        and/or any treatment appropriate for its readers. Appropriate advice, diagnosis,
                        and/or treatment can only be given by licensed professionals within a professional
                        setting. Relevate makes no claim to be a professional setting appropriate for
                        giving advice, diagnosis, and/or treatment. Although many contributors to Relevate
                        topics are licensed professionals, the information shared by Relevate, its members,
                        its contributors, and its community members is subject to error and should not be
                        used to make any major life choices. The purpose of Relevate is to share general
                        research findings, which is subject to error and may not apply to each reader.
                        Relevate information may contain a call to action, which is subject to error and
                        may not apply to each reader. The reader assumes all risks of making decisions and
                        choices based on information that he/she found on Relevate's website, app, social
                        media pages, or any other source of Relevate information. The reader withdraws any
                        right to civil or legal claims or litigation of any type against Relevate, its
                        members, and its contributors due to any consequences of choices made by the reader
                        based on information gained through Relevate or any of its parties.
                    </span>
                    <br><br><br>
                    <span>
                        Relevate reserves the right to remove any information that it believes to be contrary to its
                        purpose or inappropriate in nature. Examples of material subject to removal include but are not
                        limited to any material that is inflammatory, illegal, commercial in nature, off topic,
                        discriminatory, dangerous, plagiarized material, personally identifiable information, and any
                        other material Relevate decides to remove. Relevate reserves the right to remove any
                        contributor or community member and any material added from any contributor or community member
                        from its database including but not limited to screen name, comments, contributions, ratings,
                        and any other material.
                    </span>
                </div>
                <p>I agree to terms and conditions: {{ contributorForm.accept_terms }}</p>
                <br/>
                <input type="submit" class="uk-button" value="Request Access"/>
                <br>
            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ block.super }}
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('id_biography');
    </script>
{% endblock %}