{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.almost-flat.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.gradient.min.css' %}"/>

    <script src="{% static 'uikit/js/components/accordion.min.js' %}"></script>

{% endblock %}

{% block content %}
    <!--The Contributor Profile Menu Bar-->
    <div>
        <img class="logo_contributors" src="{% static "images/logo.png" %}" alt="logo"/>
        <div class="container">
            <div class="text-center">
                <h1 class="orange">
                    {{ user.first_name }} {{ user.last_name }},
                    {% if  contributorProfile.credential  == 'MS' %}
                        Master of Science
                    {% elif contributorProfile.credential  == 'MA' %}
                        Master of Arts
                    {% elif contributorProfile.credential  == 'PhD' %}
                        Doctor of Philosophy
                    {% elif contributorProfile.credential  == 'PsyD' %}
                        Doctor of Psychology
                    {% elif contributorProfile.credential  == 'PsyD' %}
                        Doctor of Psychology
                    {% elif contributorProfile.credential  == 'SU' %}
                        Undergraduate Student
                    {% elif contributorProfile.credential == 'SM' %}
                        Master Student
                    {% elif contributorProfile.credential == 'SPhD' %}
                        Doctor of Philosophy Student
                    {% elif contributorProfile.credential == 'SPsyD' %}
                        Doctor of Psychology Student
                    {% endif %}
                </h1>
                <h3 class="blue">Approved Relevate Contributor</h3>
            </div>
        </div>

    </div>
    <br><br><br>
    <div class="uk-container">
        <ul class="uk-tab" data-uk-tab data-uk-switcher="{connect:'#my-id'}">
            <li class="uk-active"><a onclick="ViewProfile()">About Me</a></li>
            <li><a onclick="ViewContent()">Content</a></li>
            <li><a onclick="ViewResources()">Content</a></li>
            <li><a onclick="CreatePost()">Create Post</a></li>
        </ul>
    </div>
    <div class="container">
        <!--Displays the contributors profile-->

        <div class="ContributorProfile" id="contributorProfile">
            <div class="uk-accordion" data-uk-accordion>

                <h3 class="uk-accordion-title">Credentials</h3>
                <div class="uk-accordion-content">{{ contributorProfile.institution }}</div>
                <h3 class="uk-accordion-title">Area Of Expertise</h3>
                <div class="uk-accordion-content">{{ contributorProfile.expertise_topics }}</div>

                <h3 class="uk-accordion-title">Biography</h3>
                <div class="uk-accordion-content">{{ contributorProfile.biography }}</div>

                <h3 class="uk-accordion-title">Research Area and Clinical Interest</h3>
                <div class="uk-accordion-content">{{ contributorProfile.interests }}</div>

                <h3 class="uk-accordion-title">Contact Information</h3>
                <div class="uk-accordion-content">
                    {{ contributorProfile.address }}
                    <br>
                    {{ contributorProfile.city }}, {{ contributorProfile.state }}

                    {{ contributorProfile.zipcode }}
                    <br>
                    {{ contributorProfile.website_url }}
                </div>

                <h3 class="uk-accordion-title">Advisor</h3>
                <div class="uk-accordion-content">{{ contributorProfile.adviser_first_name }} {{ contributorProfile.adviser_last_name }}
                    {{ contributorProfile.adviser_email }}
                </div>
            </div>
            <div>
                <h2 class="blue">CV</h2>
                <p>{{ contributorProfile.cv }}</p>
            </div>
        </div>

        <!--Displays the content and contributor posts history-->
        <div id="viewContent" style="display:none">
            <h4>Post to date</h4>
        </div>

        <!--Displays the resources for contributors-->
        <div id="viewResources" style="display:none">
            <h2>Resources</h2>
        </div>

        <!--Shows the forms to allow contributor to create post an article-->
        <div class="CreatePost" id="createPost" style="display: none">
            <h2>Post an Article</h2>
        </div>
    </div>

{% endblock %}