{% extends "base-titlebar.html" %}
{% load staticfiles %}

{#{% block head %}#}
{#    {{ block.super }}#}
{#    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.min.css' %}"/>#}
{#    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.almost-flat.min.css' %}"/>#}
{#    <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.gradient.min.css' %}"/>#}
{##}
{#    <script src="{% static 'uikit/js/components/accordion.min.js' %}"></script>#}
{#    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>#}
{##}
{#{% endblock %}#}

{% block content %}
    <!--The Contributor Profile Menu Bar-->
    <div>
        <img class="logo_contributors" src="{% static "images/logo.png" %}" alt="logo"/>
        <div class="container">
            <div class="text-center">
                <h1 class="orange">
                    {{ user.first_name }} {{ user.last_name }},
                    {% if  contributorProfile.credential  == 'MS' %}
                        Master of Science
                    {% elif contributorProfile.credential  == 'MA' %}
                        Master of Arts
                    {% elif contributorProfile.credential  == 'PhD' %}
                        Doctor of Philosophy
                    {% elif contributorProfile.credential  == 'PsyD' %}
                        Doctor of Psychology
                    {% elif contributorProfile.credential  == 'PsyD' %}
                        Doctor of Psychology
                    {% elif contributorProfile.credential  == 'SU' %}
                        Undergraduate Student
                    {% elif contributorProfile.credential == 'SM' %}
                        Master Student
                    {% elif contributorProfile.credential == 'SPhD' %}
                        Doctor of Philosophy Student
                    {% elif contributorProfile.credential == 'SPsyD' %}
                        Doctor of Psychology Student
                    {% endif %}
                </h1>
                <h3 class="blue">Approved Relevate Contributor</h3>
            </div>
        </div>

    </div>
    <br><br><br>
    <div class="uk-container">
        <ul class="uk-tab" data-uk-tab data-uk-switcher="{connect:'#profileContent'}">
            <li class="uk-active"><a onclick="ViewProfile()">Credentials</a></li>
            <li><a href="">Area Of Expertise</a></li>
            <li><a href="">Biography</a></li>
            <li><a href="">Research Area/Clinical Interest</a></li>
            <li><a href="">Contact Information</a></li>
            <li><a href="">Adviser</a></li>
            <li><a href="">CV/Resume</a></li>
        </ul>
    </div>
    <div class="uk-container">
        <!--Displays the contributors profile-->

        <ul id="profileContent" class="uk-switcher">
            <li>
                <br><br>
                <form class="uk-form" method="post" action="{% url 'myrelevate:contributor:updateCredentials' %}">
                    {% csrf_token %}
                    {{ credenrialForm }}
                    <input class="uk-button" type="submit" value="Update">
                </form>
            </li>
            <li>
                <div class="uk-accordion" data-uk-accordion>
                    <form class="uk-form" method="post" action="{% url 'myrelevate:contributor:updateAreaOfExpertise' %}">
                        {% csrf_token %}
                        <ul id="id_expertise_topics" class="uk-list uk-column-1-2" >
                            {% for topic in topics %}
                                <li>
                                    <label>
                                        <input id="id_expertise_topics_{{ topic.id }}"
                                               {% for expertise_topic in contributorProfile.expertise_topics.all %}
                                                   {% if expertise_topic.id == topic.id %} checked="checked" {% endif %}
                                               {% endfor %}
                                               name="expertise_topics" type="checkbox" value="{{ topic.id }}">
                                        {{ topic.topicName }}
                                    </label>
                                    <div class="uk-button-dropdown" data-uk-dropdown="{pos:'bottom-center', mode:'click'}">
                                        <i class="uk-icon-caret-down"></i>
                                        <div class="uk-dropdown-blank uk-panel-box-primary uk-dropdown-bottom">
                                            {{ topic.topicDescription }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <input class="uk-button" type="submit" value="Update">
                    </form>
                </div>
            </li>
            <li>
                <form class="uk-form" method="post" action="{% url 'myrelevate:contributor:updateBiography' %}">
                    {% csrf_token %}
                    {{ biographyForm }}
                    <input class="uk-button" type="submit" value="Update">
                </form>
            </li>
            <li>
                <form class="uk-form" method="post" action="{% url 'myrelevate:contributor:updateInterest' %}">
                    {% csrf_token %}
                    {{ interestForm }}
                    <input class="uk-button" type="submit" value="Update">
                </form>
            </li>
            <li>
                <form class="uk-form" method="post" action="{% url 'myrelevate:contributor:updateContact' %}">
                    {% csrf_token %}
                    {{ contactForm }}
                    <input class="uk-button" type="submit" value="Update">
                </form>
            </li>
            <li>
                {{ contributorProfile.adviser_first_name }} {{ contributorProfile.adviser_last_name }}
                    {{ contributorProfile.adviser_email }}
            </li>
            <li>
                <object data="{% url 'myrelevate:contributor:showResume' %}" type="application/pdf"
                        width="1100" height="1000"></object>
            </li>
        </ul>
    </div>

{% endblock %}

{% block footer %}
    {{ block.super }}
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('id_biography');
        CKEDITOR.replace('id_interests');
    </script>
{% endblock %}