* {
    margin: 0;
}

.title-bar {
    background-color: #c0c0c0;
    float: right;
    padding: 10px 0px;
    width: 100%;
}

.title-bar a {
    color: #fff;
    float: right;
    margin-right: 10px;
}

.title-bar {
    float: right;
    margin-right: 10px;
}

ul {
    list-style-type: none;
}