* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.title-bar {
    background-color: #2BA2D9;
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
}

.right, .title-bar .links-wrapper {
    float: right;
}

.left, .title-bar .links-wrapper > div {
    float: left;
}

.title-bar div > a {
    color: #fff;
    font-size: medium;
    font-weight: 700;
    margin: 0 20px 0 0;
    padding: 0 10px 0 0;
    text-decoration: none;
}