{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
    <div class='title-bar'>
        <div class='left'>
            <a href="{% url 'myrelevate:index' %}">MyRelevate</a>
        </div>
        <div class='links-wrapper right'>
            <div>
                <a href="{% url 'myrelevate:contributors' %}">Contributors</a>
            </div>
            {% if not user.is_authenticated %}
                <div>
                    <a href="{% url 'myrelevate:register_user' %}">Create Account</a>
                </div>
                <div>
                    <a href="{% url 'myrelevate:login' %}">Sign In</a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'myrelevate:contributor_profile' %}">Contributor Profile</a>
                </div>
                <div>
                    <a href="{% url 'myrelevate:user_profile' %}">My Profile</a>
                </div>
                <div>
                    <a href="{% url 'myrelevate:logout' %}">Logout</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% block content %}
        {{ block.super }}
    {% endblock %}
{% endblock %}