<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href=' {% static 'style-core.css' %}'>
    <title>
        {% block tile %}
            MyRelevate
        {% endblock %}
    </title>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class='title-bar'>
    <button type="button">Create Accounttest</button>
    <button type="button">Sign in</button>
</div>
{% block content %}
{% endblock %}
</body>
</html>