<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href=' {% static 'style-core.css' %}'>
    <title>
        {% block tile %}
            MyRelevate
        {% endblock %}
    </title>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class='title-bar'>
    <div class='left'>
        <a href="{% url 'myrelevate:index' %}">Home</a>
    </div>
    <div class='links-wrapper right'>
        {% if not user.is_authenticated %}
            <div>

            </div>
            <div>
                <a href="{% url 'myrelevate:register_user' %}">Create Account</a>
            </div>
            <div>
                <a href="{% url 'myrelevate:login' %}">Sign In</a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'myrelevate:logout' %}">Logout</a>
            </div>
        {% endif %}
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>