{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <!--Cloud code was found at http://thecodeplayer.com/walkthrough/pure-css3-animated-clouds-background-->
        <div id="clouds">
            <div class="cloud x1"></div>
            <!-- Time for multiple clouds to dance around -->
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div id="messages">
            {% for message in messages %}
                <div class="uk-alert uk-alert-{% if message.tags %}{{ message.tags }}{% endif %}" data-uk-alert>
                    <a href="" class="uk-close"></a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
{% endblock %}