{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <!--The Contributor Profile Menu Bar-->
    <div class="contributor-menu">
        <img class="logo_contributors" src="{% static "images/logo.png" %}" alt="logo"/>
        <div class="container">
            <div class="text-center1">
                <h2>
                    {{ user.first_name }} {{ user.last_name }},
                    {% if  contributorProfile.credential  == 'SU' %}
                        Undergraduate Student
                    {% elif contributorProfile.credential == 'SM'%}
                        Master Student
                    {% endif %}
                </h2>
                <h3>Approved Relevate Contributor</h3>
            </div>
            <div class="button-menu">
                <button class="button" type="button">About Me</button>
                &nbsp;
                <button class="button" type="button">Content</button>
                &nbsp;
                <button class="button" type="button">Resources/Examples</button>
                &nbsp;
                <button class="button" type="button">Create New Post</button>
                &nbsp;
                <a href="{% url 'myrelevate:index' %}" class="button" type="button">Relevate Home Page</a>
            </div>
        </div>
    </div>
    <!--Displays the contributors profile-->
    <div class="ContributorProfile" id="contributorProfile">
        <h3>Biography</h3>
        <p>{{ contributorProfile.biography }}</p>
        <h3>CV</h3>
        <p>{{ contributorProfile.cv }}</p>
        <h3>Adviser</h3>
        <p>{{ contributorProfile.adviser_first_name }} {{ contributorProfile.adviser_last_name }}</p>
        <p>{{ contributorProfile.adviser_email }}</p>
        <button type="button">Edit Profile</button>
    </div>

    <!--Form to allow contributor to edit their profile-->
    <div class="ContributorEditProfile" id="contibutorEdit" style="display: none">
        <div class="container">
            <form action="{% url 'myrelevate:contributor_profile' %}" method="post">
                {% csrf_token %}
                {{ contributorForm.biography }}
            </form>
        </div>
    </div>

{% endblock %}