{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block content %}
    <div class="contributorsProfiles" id="profiles">
        <h4 class="register">
            Interested in becoming a contributor?
            <a id="contributorRegistration" title="Access" href="#"
               onclick="ContributorAccess()">Get contributor access here.</a>
        </h4>

        <h2 class="align-center">Contributor Profiles</h2>

    </div>

    <!-- Modal from http://getbootstrap.com/javascript/#modals-->
    <!--Popup for contributor access-->
    <div class="modal fade" id="contributorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Welcome</h3>
                </div>
                <div class="modal-body">
                    <div class="registrationForm" id="requestAccess">
                        {% if not user.is_authenticated %}
                            <div class="align-center">
                                <h4>You must first <a href="{% url 'myrelevate:login' %}">login</a>
                                    to your account or <a href="{% url 'myrelevate:register_user' %}">sign up</a>
                                    for an account before you can request contributor access.
                                </h4>
                                <img class="logo" src="{% static "images/logo.png" %}" alt="logo"/>
                            </div>
                        {% else %}
                            <div class="align-center">
                                <form action="{% url 'myrelevate:contributors' %}" method="post" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    {{ contribForm }}
                                    <br/>
                                    <input type="submit" value="Request Access"/>
                                </form>
                            </div>

                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}