{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block content %}
    <!--The Contributor Profile Menu Bar-->
    <div class="container2">
    </div>
    <div class="contributor-menu">
        <img class="logo_contributors" src="{% static "images/logo.png" %}" alt="logo"/>
        <div class="text">
            <h2>Title</h2>
        </div>
    </div>
    <!--Displays the contributors profile-->
    <div class="ContributorProfile" id="contributorProfile">
        <div class="text-center">
            <h2>
                {{ user.first_name }} {{ user.last_name }},
                {% if  contributorProfile.credential  == 'SU' %}
                    Undergraduate Student
                {% elif contributorProfile.credential == 'SM'%}
                    Master Student
                {% endif %}
            </h2>
            <h3>Approved Relevate Contributor</h3>
        </div>
        <h3>Biography</h3>
        <p>{{ contributorProfile.biography }}</p>
        <h3>CV</h3>
        <p>{{ contributorProfile.cv }}</p>
        <h3>Adviser</h3>
        <p>{{ contributorProfile.adviser_first_name }} {{ contributorProfile.adviser_last_name }}</p>
        <p>{{ contributorProfile.adviser_email }}</p>
        <button type="button">Edit Profile</button>
    </div>

    <!--Form to allow contributor to edit their profile-->
    <div class="ContributorEditProfile" id="contibutorEdit" style="display: none">
        <div class="container">
            <form action="{% url 'myrelevate:contributor_profile' %}" method="post">
                {% csrf_token %}
                {{ contributorForm.biography }}
            </form>
        </div>
    </div>

{% endblock %}