{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block content %}
    <div class="contributorsProfiles" id="profiles">
        <h4 class="register">
            Interested in becoming a contributor?
            <a id="contributorRegistration" title="Access" href="#"
               onclick="ContributorAccess()">Get contributor access here.</a>
        </h4>

        <h2 class="align-center">Contributor Profiles</h2>

    </div>

    <div class="contributorAccess" id="requestAccess" style="display: none">
        <div class="container">
            <form action="{% url 'myrelevate:contributors' %}" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <p><h4>{{ user.first_name }}</h4></p>
                <p><h4>{{ user.last_name }}</h4></p>
                <p><h4>{{ user.username }}</h4></p>
                <p><h4>Credential/Dregree Completed: </h4> {{ contributorForm.credential }} </p>
                <div id="studentAccess" style="display: none">
                    <p>{{ contributorForm.adviser_first_name }}</p>
                    <p>{{ contributorForm.adviser_last_name }}</p>
                    <p>{{ contributorForm.adviser_email }}</p>
                </div>
                <p>{{ contributorForm.program }}</p>
                <p><h4>Upload your cv: </h4> {{ contributorForm.cv }} </p>
                <p>{{ contributorForm.biography }}</p>
                <p><h3>Terms and Conditions</h3> </p>
                <div>
                    <p>
                        Do not post bad things!
                        <br>
                        Be a good contributor!
                    </p>
                </div>
                <p>I agree to terms and conditions: {{ contributorForm.accept_terms }}</p>
                <br/>
                <input type="submit" class="btn btn-primary" value="Request Access"/>
            </form>
        </div>

        <div class="container">
            <div class="background_logo">
                <!--<img src="{% static "images/logo.png" %}" alt="logo"/>-->
            </div>
        </div>
    </div>

{% endblock %}