{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>{{ user.email }}</h1>
        <p>Confirmation status: {{ user.confirmed }}</p>
    {% else %}
        <h1>User is not logged in</h1>
    {% endif %}
    <div class="container">
        <img class="logo" src="{% static "images/logo.png" %}" alt="logo"/>
        <h4>Welcome to Relevate - Your mobile hub for trustworthy and relevant romantic relationship resources.</h4>
        <h4>
            <span>
                We are currently working on making this website great and need contributors from relationship
                content experts. If that’s you, “click here!”
            </span>
        </h4>
        <h1>(slideshow of pictures)</h1>
        <h4>
            <span>
                We are a multidisciplinary team of researchers who are on a mission to make research-based
                information about romantic relationships accessible to all. As part of this mission, we are
                creating a website and smart phone app that can be tailored to meet the needs of each user.
                We believe healthy romantic relationships are worth working for. Do you?
            </span>
        </h4>
        <h4>
            <span>
                To provide research-informed, personalized, and up-to-date information on establishing and
                maintaining healthy romantic relationships to young adults through accessible mobile technology.
            </span>
        </h4>
    </div>
{% endblock %}