{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'uikit/css/components/slideshow.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/slideshow.almost-flat.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/slideshow.gradient.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/slidenav.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/slidenav.almost-flat.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'uikit/css/components/slidenav.gradient.min.css' %}"/>
    <script src="{% static 'uikit/js/components/slideshow.min.js' %}"></script>
    <script src="{% static 'uikit/js/components/slideshow-fx.min.js' %}"></script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>{{ user.email }}</h1>
        <p>Confirmation status: {{ user.confirmed }}</p>
    {% else %}
        <h1>User is not logged in</h1>
    {% endif %}

    <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}">
        <div class="uk-width-2-3">
            <div class="uk-panel uk-panel-box uk-text-justify widget_text">
                <div class="uk-article uk-container">
                    <div class="uk-article-title">Welcome to Relevate!</div>
                    <p>Your mobile hub for trustworthy and relevant romantic relationship resources.</p>
                    <p>We are a multidisciplinary team of researchers who are on a mission to make research-based
                        information about romantic relationships accessible to all. As part of this mission, we are
                        creating a website and smart phone app that can be tailored to meet the needs of each user. We
                        believe healthy romantic relationships are worth working for. Do you?</p>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3">
            <div class="uk-panel uk-panel-box uk-text-center widget_text"
                 style="color: #6F787B;">
                <p class="uk-text-center">
                    <i class="uk-icon-twitter uk-icon-large"></i>
                </p>
                <ul class="uk-list">
                    <li>
                        <div class="uk-text-large">
                            "The more emotionally intelligent a couple - the better they are to <a
                                href="https://twitter.com/hashtag/understand?src=hash"><u>#understand</u></a>, <a
                                href="https://twitter.com/hashtag/honor?src=hash"><u>#honor</u></a>, and <a
                                href="https://twitter.com/hashtag/respect?src=hash"><u>#respect</u></a> each other and
                            their marriage"-Gottman
                        </div>
                        <p>
                            <span class="uk-text-muted"><time datetime="2015-11-19T11:36:30+00:00">Nov 19</time></span>
                            <span><a href="https://twitter.com/MyRelevate/status/667398877755088897" target="_blank">@MyRelevate</a></span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="uk-grid " data-uk-grid-match="{target:'.uk-panel'}">
        <div class="uk-width-1-3">
            <div class="uk-panel"><img src="{% static 'images/infographics/selfless.png' %}"></div>
        </div>
        <div class="uk-width-1-3"><img src="{% static 'images/infographics/forgiveness.png' %}"></div>
        <div class="uk-width-1-3 ">
            <div class="uk-panel uk-panel-box uk-text-large uk-text-center" style="color: #6F787B;">
                We are currently working on making this website great and need contributors from relationship
                content experts. If that’s you, sign up to be a contributor access <a id="contributorRegistration"
                                                                                      title="Access" href="#"
                                                                                      onclick="ContributorAccess()"><u>here!</u></a>
            </div>
        </div>
    </div>

    <div class="container">
        <h4>

        </h4>
        <h4>
            <span>
                To provide research-informed, personalized, and up-to-date information on establishing and
                maintaining healthy romantic relationships to young adults through accessible mobile technology.
            </span>
        </h4>
    </div>
{% endblock %}