{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block content %}
    <img class="logo" src="{% static "images/logo.png" %}" alt="logo"/>
    <div class="visible" id="login">
        {% if form %}
            <form action="{% url 'myrelevate:login' %}" method="post">
                {% csrf_token %}
                <div class="align-center createAccount col-md-6 col-md-offset-3">
                    {{ form.email }}
                    {{ form.password }}
                    <input class="form-control" type="submit" value="Sign In"/>
                </div>
            </form>
        {% endif %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}