{% extends "base-titlebar.html" %}
{% load staticfiles %}

{% block content %}
    <img class="logo" src="{% static "images/logo.png" %}" alt="logo"/>
    <div class="visible" id="login">
        {% if form %}
            <form action="{% url 'myrelevate:login' %}" method="post">
                {% csrf_token %}
                <div class="align-center">
                    <p>{{ form.username }}</p>

                    <p>{{ form.password }}</p>
                    <input type="submit" value="Sign In"/>
                </div>
            </form>
        {% endif %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}