{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <img class="logo1" src="{% static "images/logo.png" %}" alt="logo"/>
    <form action="{% url 'myrelevate:register_user' %}" method="post">
        {% csrf_token %}
        <h1>
            <ul class="createAccount">
                <li id="username" class="">{{ form.username }}</li>
                <li id="first_name" class="">{{ form.first_name }}</li>
                <li id="last_name" class="">{{ form.last_name }}</li>
                <li id="password1" class="">{{ form.password1 }}</li>
                <li id="password2" class="">{{ form.password2 }}</li>
                <input type="submit" value="Sign Up"/>
            </ul>
        </h1>
    </form>
{% endblock %}