{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-pinterest"></i>
    <i class="fa fa-youtube"></i>

    <div class="container">
        <form action="{% url 'myrelevate:subscribe' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ subscribeForm }}
                <input type="submit" id="id_subscriptioninput" value="Subscribe"/>
            </div>
        </form>
    </div>
{% endblock %}