{% extends "cloud_template.html" %}
{% load staticfiles %}

{% block body %}
    <div id="main">
        <!--Cloud code was found at http://thecodeplayer.com/walkthrough/pure-css3-animated-clouds-background-->
        {{ block.super }}
        <!-- Below cloud div -->
        <div class="uk-align-center">
            <div style="padding-top: 200px;">
                <img id="logo-horizontal" src="{% static "images/logo-horizontal.png" %}" alt="MyRelevate Logo">
                <div class="uk-container uk-text-center">
                    <h1>Exciting new things are around the corner for
                        <div class="relevate-blue">Relevate</div>
                        !
                    </h1>
                    <div>
                        While we've got our hard hats on creating the official website, feel free to jot down your
                        e-mail below for play-by-play updates.
                    </div>
                </div>

                <div class="uk-container uk-text-center uk-align-center">
                    <form action="{% url 'myrelevate:subscribe' %}" method="post" id="form-subscribe"
                          class="uk-form uk-form-horizontal" novalidate>
                        {% csrf_token %}
                        <div id="subscription-inputs">
                            {{ subscribeForm.email }}
                            <input id="uk-button" class="uk-button" type="submit" value="Subscribe">
                        </div>
                    </form>
                </div>
                <div class="uk-container uk-text-justify">
                    <div class="summary uk-text-bold ">
                        MyRelevate is a community of scholars preparing to deliver relevant, research-informed
                        relationship content to young adults at the touch of their fingers. Through both website and
                        mobile app, MyRelevate gives users the ability to have real data in the palm of their hands and
                        on-the-go. The purpose of MyRelevate is to help single individuals and couples take the steps
                        needed to make the best decisions pertaining to their personal development and love life. There
                        is a need to establish and maintain fulfilling romantic relationships in each of our lives.
                        Together, we can make a lasting positive impact in the way we view love and relationships
                        looking forward.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container-center uk-text-center">
        <div class="uk-panel">
            <a class="uk-icon-hover uk-icon-facebook uk-icon-large" target="_blank"
               href="https://www.facebook.com/MyRelevate"></a>
            <a class="uk-icon-hover uk-icon-twitter uk-icon-large" target="_blank"
               href="https://twitter.com/MyRelevate/"></a>
            <a class="uk-icon-hover uk-icon-pinterest uk-icon-large" target="_blank"
               href="https://in.pinterest.com/MyRelevate/"></a>
            <a class="uk-icon-hover uk-icon-youtube uk-icon-large" target="_blank"
               href="https://www.youtube.com/channel/UCEh98DlXgjw_ZuNEEnEbLtA"></a>
        </div>
    </div>

    <div class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">Thank you for subscribing!</div>
            <div class="uk-modal-dialog">Please take a few minutes and let us know what you would like to see on the
                MyRelevate website.
            </div>
        </div>
    </div>
{% endblock %}