{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="main" style="display: block">
        <!--Cloud code was found at http://thecodeplayer.com/walkthrough/pure-css3-animated-clouds-background-->
        <div id="clouds">
            <div class="cloud x1"></div>
            <!-- Time for multiple clouds to dance around -->
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <!-- Below cloud div -->
        <div class="text-center">
            <div style="padding-top: 200px;">
                <img id="logo-horizontal" src="{% static "images/logo-horizontal.png" %}" alt="MyRelevate Logo">
                <div class="container">
                    <h1>Exciting new things are around the corner for
                        <div class="relevate-blue">Relevate</div>
                        !
                    </h1>
                    <div>
                        While we've got our hard hats on creating the official website, feel free to jot down your
                        e-mail below for play-by-play updates.
                    </div>
                </div>

                <div class="container">
                    <form action="{% url 'myrelevate:subscribe' %}" method="post" id="form-subscribe" novalidate>
                        {% csrf_token %}
                        <div>
                            <div class="row center-block form-group">
                                <div id="subscription-inputs" class="input-group col-lg-4 col-lg-offset-4">
                                    {{ subscribeForm.email }}
                                    <div class="input-group-btn">
                                        <input id="btn-submit" class="btn btn-default" type="submit" value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id="subscribe-success" class="hidden">
                        <h1>Thank you for subscribing!</h1>
                    </div>
                </div>

                <div class="container">
                    <div class="summary">
                        MyRelevate is a community of scholars preparing to deliver relevant, research-informed relationship
                        content to young adults at the touch of their fingers. Through both website and mobile app, MyRelevate
                        gives users the ability to have real data in the palm of their hands and on-the-go. The purpose of
                        MyRelevate is to help single individuals and couples take the steps needed to make the best decisions
                        pertaining to their personal development and love life. There is a desperate need to establish and
                        maintain fulfilling romantic relationships in each of our lives. Together, we can make a lasting
                        positive impact in the way we view love and relationships looking forward.
                    </div>
                </div>
                <!-- above footer-->
                <div class='container'>
                    <div>Follow us on social media!</div>
                    <div class="social-icon hover-facebook">
                        <a href="https://www.facebook.com/MyRelevate" target="_blank"><i
                                class="fa fa-facebook-square fa-3x"></i></a>
                    </div>
                    <div class="social-icon hover-twitter">
                        <a href="https://twitter.com/MyRelevate/" target="_blank"><i
                                class="fa fa-twitter-square fa-3x"></i></a>
                    </div>
                    <div class="social-icon hover-pinterest">
                        <a href="https://in.pinterest.com/MyRelevate/" target="_blank"><i
                                class="fa fa-pinterest-square fa-3x"></i></a>
                    </div>
                    <div class="social-icon hover-youtube">
                        <a href="https://www.youtube.com/channel/UCEh98DlXgjw_ZuNEEnEbLtA" target="_blank"><i
                                class="fa fa-youtube-square fa-3x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal from http://getbootstrap.com/javascript/#modals-->
    <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Welcome</h3>
                </div>
                <div class="modal-body">
                    <h4>Thank you for subscribing!</h4>

                    <p>
                        Please take a few minutes and let us know what you would like to see on the MyRelevate website.
                        Then click submit to send us your ideas.
                    </p>
                    <p>Click close to continue without sending us ideas.</p>

                    <div class="input-group col-lg-4 col-lg-offset-4">
                        {{ subscribeForm.idea }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input id="btn-submit" class="btn btn-primary" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
